@model IPagedList<QuestionsSYS.ModelViews.TaskListView>
@using PagedList
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/_Layout_Empty_White.cshtml";
}

<table id="question_tasked" class="table table-responsive ibox-content">
    <thead>
        <tr>
            <th>Soru Tarihi</th>
            <th>Ad Soyad</th>
            <th>Tel</th>
            <th>Kaynak</th>
            <th>Görevli</th>
            <th>Soru/Not</th>
            <th>Sipariş</th>
            <th>Görev Notu</th>
            <th>Durum</th>
            <th>Görüşme</th>
            @if (Request.Path.ToString().Contains("/Task/getfeedback"))
            {
                <th>Geri Dönüşüm</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.created_date.ToShortDateString()
                </td>
                <td>
                   @item.fullname 
                </td>
                <td>
                    @item.phone / @item.phone2
                </td>
                <td>
                    @item.source
                </td>
                <td>
                    <strong class="text-capitalize">@item.user_fullname</strong>
                </td>
                <td>
                    <button class="btn btn-info btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="@item.question" type="button"> Soru</button>
                    @if (!String.IsNullOrEmpty(item.question_note))
                    {
                        <button class="btn btn-warning btn-sm" type="button" data-container="body" data-toggle="popover" data-placement="top" data-content="@item.question_note"><span class="bold">Not</span></button>
                    }

                </td>
                <td>
                @if (!item.is_ordered)
                {
                    <span class="label label-danger">Alınmadı</span>
                }
                else
                {
                    <span class="label label-primary">Alındı</span> 
                }
                </td>
                <td>
                @if (!String.IsNullOrEmpty(item.note))
                {
                    <button class="btn btn-warning btn-sm" type="button" data-container="body" data-toggle="popover" data-placement="top" data-content="@item.note"><span class="bold">Not</span></button>
                }
                else
                {
                   <span class="label label-default">Not Yok</span> 
                }
                </td>

                <td>
                    @if (item.order_state == "Başarılı")
                    {
                        <span class="label label-primary">@item.order_state</span>
                    }
                    @if (item.order_state == "Başarısız")
                    {
                        <span class="label label-danger">@item.order_state</span>
                    }
                    @if (item.order_state == "İşlem Bekleniyor")
                    {
                        <span class="label label-success">@item.order_state</span>
                    }

                    @if (item.order_state != "İşlem Bekleniyor" && item.order_state != "Başarısız" && item.order_state != "Başarılı")
                    {
                        <span class="label label-default">@item.order_state</span>
                    }


                    
                </td>
                <td>
                    @if (item.contact_date != null)
                    {
                        <span class="label label-primary">@item.contact_date.Value.ToShortDateString()</span>
                    }
                    else
                    {
                        <span class="label label-danger">Görüşülmedi</span>
                    }

                </td>
                @if (Request.Path.ToString().Contains("Task/getfeedback"))
                {
                    <td>
                        <span class="label label-primary">@item.feedback_date.Value.ToShortDateString()</span>
                    </td>
                }
                <td>
                    @if(User.IsInRole("Admin"))
                    { 
                        @Ajax.ActionLink("Sil", "Delete", new { id = item.id }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "DeleteSuccess(this);", OnComplete = "OnComplate();", OnFailure = "DeleteFailed();", OnBegin = "PageBegin()", Confirm = "Devam etmek istediğiniz emin misiniz ?" }, new { @class = "btn btn-danger btn-sm pull-right", @style = "margin-left: 5px;" })
                    }
                    
                    @Html.ActionLink(
                                                    linkText: "Detay",
                                                    actionName: "Detail",
                                                    controllerName: "Task",

                                                    routeValues: new
                                                    {
                                                        id = item.id
                                                    },
                                                    htmlAttributes: new { @class = "btn btn-sm btn-success pull-right", @target= "_blank" }
                                                )
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagedList">
   
        @Html.PagedListPager(
            Model,
            page => Url.Action(String.IsNullOrEmpty(Request.QueryString["filter"]) ? Request.QueryString["filter"] : "All", new { page = page, SearchString = ViewBag.SearchString, personnel = ViewBag.personnel, date = String.IsNullOrEmpty(Request.QueryString["date"]) ? "" : Request.QueryString["date"], type = String.IsNullOrEmpty(Request.QueryString["type"]) ? "" : Request.QueryString["type"] }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "list-container", OnBegin = "PageBegin()", OnComplete = "PageComplate()" })
        )

</div>

@section Scripts{
<script>


    function DeleteSuccess(e) {
        $(e).parents("tr").remove();
        toastr.success("Kayıt silindi.", "Tamam");
    }

    function DeleteFailed() {
        toastr.error("Kayıt silinmedi. tekrar deneyin.", "Hata");
    }

    function OnComplate() {
        $('.ibox-content').toggleClass('sk-loading');
    }

    function PageBegin()
    {
        $('.ibox-content').toggleClass('sk-loading');
    }

    function PageComplate()
    {
        $('.ibox-content').toggleClass('sk-loading');
        $(".sk-loading").removeClass('sk-loading');
    }
</script>
}