<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h1 class="text-capitalize">@ViewBag.List.name @ViewBag.List.lastname</h1>
    <div class="m-b-sm">
        <img alt="image" class="img-circle" src="@Html.SetImage((string)ViewBag.List.photo, 110, 110)">
    </div>
    <p class="font-bold"> E-posta göndermek için.</p>
    <div class="text-center">
        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> @ViewBag.List.email</a>
    </div>
   
</div>

           <!-- /modal-header -->
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content text-center">
               
               

                <div class="col-sm-12">
                    <label class="col-sm-3 control-label">Ad Soyad</label>
                    <div class="col-sm-9 text-capitalize">@ViewBag.List.name @ViewBag.List.lastname</div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-3 control-label">E-Posta</label>
                    <div class="col-sm-9">@ViewBag.List.email</div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-3 control-label">Gsm</label>
                    <div class="col-sm-9">@ViewBag.List.gsm</div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-3 control-label">Durum</label>
                    <div class="col-sm-9">
                        @if (ViewBag.List.state == true)
                        {
                            <i class="fa fa-check text-navy"></i>
                        }
                        @if (ViewBag.List.state == false)
                        {
                            <i class="fa fa-times text-danger"></i>
                        }
                    </div>
                </div>

                <div class="col-sm-12">
                    <label class="col-sm-3 control-label">Ev Sahipliği</label>
                    <div class="col-sm-9">
                        @if (ViewBag.List.ownershiping == true)
                        {
                            <i class="fa fa-check text-navy"></i>
                        }
                        @if (ViewBag.List.ownershiping == false)
                        {
                            <i class="fa fa-times text-danger"></i>
                        }
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-3 control-label">Kayıt</label>
                    <div class="col-sm-9">@ViewBag.List.created_date</div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-3 control-label">Güncelleme</label>
                    <div class="col-sm-9">@ViewBag.List.updated_date</div>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        @if (ViewBag.List.source == "facebook")
                        {
                            <div class="bg-success p-xs b-r-sm">
                                <i class="fa fa-facebook"></i> Facebook
                            </div>
                        }
                        @if (ViewBag.List.source == "web")
                        {
                            <div class="bg-warning p-xs b-r-sm">
                                <i class="fa fa-internet-explorer"></i> Menkule.com.tr (web)
                            </div>
                        }
                    </div>
                </div>
                <div style="clear:both"></div>
                </div>
            </div>

    </div>
    
</div>            <!-- /modal-body --> 