
@{
    ViewBag.Title = "Excel Import";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Excel Import</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboards")">Yönetim</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Question")">Sorular</a>
            </li>
            <li class="active">
                <strong><a>Import</a></strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="ibox-content">
            @using (Html.BeginForm("ImportExcelFileToDatabase", "Question", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
            {
              
                <div class="fileinput fileinput-new input-group no-margins" data-provides="fileinput">
                    <div class="form-control" style="width:200px" data-trigger="fileinput">
                        <i class="glyphicon glyphicon-file fileinput-exists"></i>
                        <span class="fileinput-filename"></span>
                    </div>
                    <span class="input-group-addon btn btn-default btn-file">
                        <span class="fileinput-new">Select file</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" id="FileUpload" name="FileUpload" />
                    </span>
                    <a  href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Sil</a>
                </div>


                <input type="submit" id="Submit" class="btn btn-md btn-primary" value="Upload" title="Excel kaynağı seç" />


                <div class="text-left" style="margin-top:5px;">
                    
                    <small>Örnek excel şablonunu indirmek için <a href="~/Env/import.xlsx">Tıklayın.</a> </small>
                    

                </div>

            }
        </div>

    </div>
</div>

@section Styles{
    @Styles.Render("~/plugins/toastrStyles")

    @Styles.Render("~/plugins/jasnyBootstrapStyles")


}
@section Scripts{
    @Scripts.Render("~/plugins/toastr")

    @Scripts.Render("~/plugins/jasnyBootstrap")

    <script>
        if (location.search.indexOf("success=failed") > -1) {
            toastr.error("Excel kaynağında bir hata mevcut.", "Hata")
        }
        if (location.search.indexOf("success=ok") > -1) {
            toastr.success("Excel başarıyla aktarıldı.", "Tamam")
        }

    </script>


}