@model IEnumerable<QuestionsSYS.ModelViews.PersonnelView>

@{
    ViewBag.Title = "Tüm Sorular";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Personel</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboards")">Yönetim</a>
            </li>
            <li class="active">
                <strong><a>Tüm Sorular</a></strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Ad Soyad</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Role)
                                </td>
                                <td>
                                    @Html.ActionLink(
                                                            linkText: "Detay",
                                                            actionName: "Detail",
                                                            controllerName: "Personnel",

                                                            routeValues: new
                                                            {
                                                                id = item.Id
                                                            },
                                                            htmlAttributes: new { @class = "btn btn-success pull-right" }
                                                        )

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="m-t-md">
                    <small class="pull-right">
                        Son Liste Tarihi: @Html.Label(DateTime.Now.ToLongDateString())
                    </small>

                </div>
            </div>

        </div>

    </div>
</div>
@section Styles{
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts{
    @Scripts.Render("~/plugins/toastr")

    <script type="text/javascript">
        if (location.search.indexOf("login=Failed") > -1) {
            toastr.error("Lütfen tüm bilgileri eksiksiz doldurun.", "Hata")
        }
    </script>
}