@model IEnumerable<QuestionsSYS.ModelViews.PersonnelView>

@{
    ViewBag.Title = "Yeni Soru";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Yeni Soru</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboards")">Yönetim</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Question")">Sorular</a>
            </li>
            <li class="active">
                <strong><a>Yeni Soru</a></strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="ibox-content">

            <div class="sk-spinner sk-spinner-double-bounce">
                <div class="sk-double-bounce1"></div>
                <div class="sk-double-bounce2"></div>
            </div>

           @using (Ajax.BeginForm("Add", "Question", new AjaxOptions { HttpMethod = "POST", OnSuccess = "AddSuccess();", OnComplete = "OnAddComplate();", OnFailure = "AddFailed();", OnBegin = "OnAdding()" }))
           {

            <div class="form-group">
                <label for="name">Ad Soyad</label>
                <input autocomplate="off" type="text" placeholder="Ad Soyad" name="fullname" id="fullname" class="form-control">
            </div>
                <div class="form-group">
                    <label for="phone">Tel</label>
                    <input autocomplate="off" type="text" data-mask="9999 999 99 99" placeholder="Tel" name="phone" id="phone" class="form-control">
                </div>
                <div class="form-group">
                    <label for="phone2">Tel 2</label>
                    <input autocomplate="off" type="text" data-mask="9999 999 99 99" placeholder="Tel" name="phone2" id="phone2" class="form-control">
                </div>
                <div class="form-group">
                    <label for="question">Soru</label>
                    <textarea placeholder="Soru" name="question" id="question" class="form-control" cols="3" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="question">Not</label>
                    <textarea placeholder="Not" name="note" id="note" class="form-control" cols="3" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="source">Kaynak</label>
                    <br />
                    <select name="source" id="source" class="source_select form-control">
                        <option></option>
                        @foreach (var item in ViewBag.soruces)
                        {
                            <option value="@item.name">@item.name</option>
                        }

                    </select>
                </div>
                <div class="form-group">
                    <label for="source">Tarih</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input autocomplete="off" type="text" class="form-control" name="added" value="">
                    </div>
                </div>
            <button class="btn  btn-primary no-margins" type="submit">Ekle</button>
           }
               
        </div>

    </div>
</div>
@section Styles{
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/dataPickerStyles")

}
@section Scripts{
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js");
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/dataPicker")
    <script type="text/javascript">

        $.fn.datepicker.dates['tr'] = {
            days: ["Pazar", "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi"],
            daysShort: ["Pz", "Pzt", "Sal", "Çrş", "Prş", "Cu", "Cts"],
            daysMin: ["Pz", "Pzt", "Sa", "Çr", "Pr", "Cu", "Ct"],
            months: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
            monthsShort: ["Oca", "Şub", "Mar", "Nis", "May", "Haz", "Tem", "Ağu", "Eyl", "Eki", "Kas", "Ara"],
            today: "Bugün",
            clear: "Temizle",
            weekStart: 1,
            format: "dd.mm.yyyy"
        };

        $('.input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            language: "tr",
            calendarWeeks: true,
            autoclose: true,

        });
        
        function AddSuccess() {
            toastr.success("Soru eklendi.", "Tamam");
            $("input[name='fullname']").val("");
            $("input[name='phone']").val("");
            $("input[name='phone2']").val("");
            $("textarea[name='question']").val("");
            $("textarea[name='note']").val("");

            $('.source_select').val($("#select2-source-container").attr("title")).trigger('change');
        }
        function AddFailed() {
            toastr.error("Numara kullanılıyor veya bir hata oluştu tekrar deneyin.", "Hata")
        }

        function OnAdding() {
            $('.ibox-content').toggleClass('sk-loading');
        }

        function OnAddComplate() {
            $('.ibox-content').toggleClass('sk-loading');
        }

        $(".source_select").select2({
            placeholder: "Kaynak seçin",
            allowClear: true
        });

    </script>
}