@model IEnumerable<QuestionsSYS.ModelViews.PersonnelView>

@{
    ViewBag.Title = "Yeni Soru";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Yeni Soru</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboards")">Yönetim</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Question")">Sorular</a>
            </li>
            <li class="active">
                <strong><a>Yeni Soru</a></strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="ibox-content">

            <div class="sk-spinner sk-spinner-double-bounce">
                <div class="sk-double-bounce1"></div>
                <div class="sk-double-bounce2"></div>
            </div>

           @using (Ajax.BeginForm("Add", "Question", new AjaxOptions { HttpMethod = "POST", OnSuccess = "AddSuccess();", OnComplete = "OnAddComplate();", OnFailure = "AddFailed();", OnBegin = "OnAdding()" }))
           {

            <div class="form-group">
                <label for="name">Ad Soyad</label>
                @Html.TextBox("fullname", null, new { @placeholder = "Ad", @name = "fullname", @class = "form-control" })
            </div>
            
            <div class="form-group">
                <label for="phone">Tel</label>
                @Html.TextBox("phone", null, new { @placeholder= "Tel", @name="phone", @class="form-control", @type="number" })
            </div>

            <div class="form-group">
                <label for="phone2">Tel 2</label>
                @Html.TextBox("phone2", null, new { @placeholder = "Tel", @name = "phone2", @class = "form-control", @type = "number" })
            </div>

            <div class="form-group">
                <label for="question">Soru</label>
                @Html.TextArea("question", null, new { @placeholder = "Soru", @name = "question", @class = "form-control", @cols = "3", @rows="3" })
            </div>

            <div class="form-group">
                <label for="note">Not</label>
                @Html.TextArea("note", null, new { @placeholder = "Not", @name = "note", @class = "form-control", @cols = "3", @rows = "3" })
            </div>

            <div class="form-group">
                <label for="source">Kaynak</label>
                <br />
                <select name="source" id="source" class="source_select form-control">
                    <option></option>
                    @foreach (var item in ViewBag.soruces)
                    {
                        <option value="@item.name">@item.name</option>
                    }

                </select>
            </div>

            <button class="btn  btn-primary no-margins" type="submit">Ekle</button>
           }
               
        </div>

    </div>
</div>
@section Styles{
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/select2Styles")
}
@section Scripts{
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js");
    <script type="text/javascript">
        
        
        function AddSuccess() {
            toastr.success("Soru eklendi.", "Tamam");
            document.getElementById("form0").reset();
        }
        function AddFailed() {
            toastr.error("Numara kullanılıyor veya bir hata oluştu tekrar deneyin.", "Hata")
        }

        function OnAdding() {
            $('.ibox-content').toggleClass('sk-loading');
        }

        function OnAddComplate() {
            $('.ibox-content').toggleClass('sk-loading');
        }

        $(".source_select").select2({
            placeholder: "Kaynak seçin",
            allowClear: true
        });

    </script>
}