@model QuestionsSYS.ModelViews.PersonnelView

@{
    ViewBag.Title = "Personel";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Detay</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboards")">Yönetim</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Personnel")">Personel</a>
            </li>
            <li class="active">
                <strong><a>@Html.DisplayFor(modelItem => modelItem.Name) @Html.DisplayFor(modelItem => modelItem.Surname)</a></strong>
            </li>
        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox-content">

            <form role="form" action="/Personnel/Update/ @Html.DisplayFor(modelItem => modelItem.Id)" method="post">
                <div class="form-group">
                    <label for="name">Ad</label>
                    <input type="text" placeholder="Ad" name="name" id="name" value="@Html.DisplayFor(modelItem => modelItem.Name)" class="form-control">
                </div>
                <div class="form-group">
                    <label for="surname">Soyad</label>
                    <input type="text" placeholder="Soyad" name="surname" id="surname" value="@Html.DisplayFor(modelItem => modelItem.Surname)" class="form-control">
                </div>
                <div class="form-group">
                    <label for="username">Kullancı Adı</label>
                    <input type="text" placeholder="Kullanıcı Adı" name="username" id="username" value="@Html.DisplayFor(modelItem => modelItem.Username)" class="form-control">
                </div>

                <div class="form-group">
                    <label for="role">Rol</label>
                    <select id="role" name="role" class="form-control">
                        <option value="Admin" @(Html.DisplayFor(modelItem => modelItem.Role).ToString() == "Admin" ? "selected" : String.Empty)>Admin</option>
                        <option value="User" @(Html.DisplayFor(modelItem => modelItem.Role).ToString() == "User" ? "selected" : String.Empty)>User</option>
                        <option value="User" @(Html.DisplayFor(modelItem => modelItem.Role).ToString() == "Logistics User" ? "selected" : String.Empty)>Logistics User</option>

                    </select>
                </div>
                <div class="form-group">
                    <label for="password">Şifre</label>
                    <input type="password" placeholder="Şifre" name="password" id="password" class="form-control">
                    <small>Yeni şifre belirtmek için lütfen aşağıdaki şifre alanını doldurunuz.</small>
                </div>
                <div class="form-group">
                    <label for="color">Renk</label>
                    <div class="input-group m-b">
                        <span class="input-group-btn">
                            <button type="button" style="background:@Model.color" class="btn"> &nbsp; &nbsp;</button>
                        </span> <input name="color" id="color" type="text" autocomplete="off" value="@Model.color" class="form-control colorpicker">
                    </div>
                </div>


                <div class="form-group">
                    <label for="employee_type">Uzmanlık Alanı</label>
                    <select name="employee_type" id="employee_type" class="employee_type form-control">
                        <option></option>
                        @foreach (var item in ViewBag.employee_type)
                        {
                            <option @(item.id == Model.employee_type ? "selected" : String.Empty) value="@item.id">@item.type_name</option>
                        }
                    </select>
                </div>



                <button class="btn  btn-primary no-margins" type="submit">Güncelle</button>
            </form>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
}
@section Scripts{
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/colorpicker")
    <script type="text/javascript">
        if (location.search.indexOf("success=failed") > -1) {
            toastr.error("Lütfen tüm bilgileri eksiksiz doldurun.", "Hata")
        }
        if (location.search.indexOf("success=ok") > -1) {
            toastr.success("Kayıt güncellendi.", "Tamam")
        }
        $('.colorpicker').colorpicker();


        $(".employee_type").select2({
            placeholder: "Uzmanlık alanı seçin",
            allowClear: true
        });

    </script>

}