@model IEnumerable<QuestionsSYS.ModelViews.PersonnelView>

@{
    ViewBag.Title = "Personel";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Personel</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboards")">Yönetim</a>
            </li>
            <li class="active">
                <strong><a>Personel</a></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row personnel-form ibox-content">

        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title no-top-border">
                <h5>Yeni Peronsel Ekle</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content add-form">

              

                @using (Ajax.BeginForm("Add", "Personnel", new AjaxOptions { HttpMethod = "POST", OnSuccess = "AddSuccess(this);", OnComplete = "OnAddComplate();", OnFailure = "AddFailed();", OnBegin = "OnAdding()" }, new { id = "personnel_add_form", @class = "form-inline" }))
                {
                    <div class="form-group">
                        <label for="name" class="sr-only">Ad</label>
                        @Html.TextBox("name", null, new { @placeholder = "Ad", @name = "name", @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="surname" class="sr-only">Soyad</label>
                        @Html.TextBox("surname", null, new { @placeholder = "Soyad", @name = "surname", @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="username" class="sr-only">Kullanıcı Adı</label>
                        @Html.TextBox("username", null, new { @placeholder = "Kullanıcı Adı", @name = "username", @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="password" class="sr-only">Şifre</label>
                        @Html.TextBox("password", null, new { @placeholder = "Şifre", @name = "password", @class = "form-control", @type="password" })
                    </div>

                    <div class="form-group">
                        <label for="role" class="sr-only">Rol</label>
                         @Html.DropDownList("role",
                             new List<SelectListItem> {
                                 new SelectListItem {
                                    Text="User",
                                    Value="User",
                                    Selected = true
                                 },
                                 new SelectListItem {
                                    Text="Admin",
                                    Value="Admin",
                                 },
                                 new SelectListItem {
                                    Text="Logistics User",
                                    Value="Logistics User",
                                 },
                             }, new { @class="form-control", @name="role" })
                    </div>
                    <button class="btn  btn-primary no-margins" type="submit">Ekle</button>

                        
                     }

         </div>
        </div>
        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Ad Soyad</th>
                            <th>Rol</th>
                            <th>Kullanıcı Adı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                 
                                    @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)
                                </td>
                                <td>
                                        @if (@item.Role == "Admin")
                                        {
                                            <span class="label label-primary">@Html.DisplayFor(modelItem => item.Role)</span>
                                        }
                                        else
                                        {
                                            <span class="label label-warning">@Html.DisplayFor(modelItem => item.Role)</span>
                                        }
                                   
                                   
                                </td>
                                <td>
                              @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    @Html.ActionLink(
                                                            linkText: "Detay",
                                                            actionName: "Detail",
                                                            controllerName: "Personnel",

                                                            routeValues: new
                                                            {
                                                                id = item.Id
                                                            },
                                                            htmlAttributes: new { @class= "btn btn-success btn-sm pull-right" }
                                                        )
                                    @Ajax.ActionLink("Sil", "Delete", new { id = item.Id }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "DeleteSuccess(this);", OnComplete = "OnComplate();", OnFailure = "DeleteFailed();", OnBegin = "OnDeleting()", Confirm = "Devam etmek istediğiniz emin misiniz ?" }, new { @class = "btn btn-danger btn-sm pull-right", @style = "margin-right: 5px;" })

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="m-t-md">
                    <small class="pull-right">
                        Son Liste Tarihi: @Html.Label(DateTime.Now.ToLongDateString())
                    </small>

                </div>
            </div>

        </div>

    </div>
</div>
@section Styles{
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts{
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js");

    <script type="text/javascript">

        function AddSuccess(e) {
            toastr.success("Yeni kullanıcı eklendi.", "Tamam");
            location.reload();
        }
        function AddFailed() {
            toastr.error("Tekrar deneyin.", "Hata")
        }

        function OnAdding() {
            $('.ibox-content').toggleClass('sk-loading');
        }

        function OnAddComplate() {
            $('.ibox-content').toggleClass('sk-loading');
        }


        function DeleteSuccess(e) {
            $(e).parents("tr").remove();
            toastr.success("Kayıt silindi.", "Tamam");
        }
        function DeleteFailed() {
            toastr.error("Kayıt silinmedi. tekrar deneyin.", "Hata")
        }

        function OnDeleting() {
            $('.ibox-content').toggleClass('sk-loading');
        }

        function OnComplate() {
            $('.ibox-content').toggleClass('sk-loading');
        }

    </script>
}