@{
    ViewBag.Title = "Yeni Sipariş";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Yeni Sipariş</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboards")">Yönetim</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Order")">Siparişlerim</a>
            </li>
            <li class="active">
                <strong>Yeni Sipariş</strong>
            </li>
        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox-content">
            <h2>Sipariş Bilgileri</h2>
            <form class="form-order" role="form" action="/Order/New/@ViewBag.task_id" method="post">
                <div class="form-group customer_id_container">
                    <input type="hidden" name="task_id" value="@ViewBag.task_id" />
                    <label for="customer_id">Müşteri</label>
                    <select name="customer_id" id="customer_id" class="customer_id inline form-control">
                        <option></option>
                        @foreach (var item in ViewBag.customers)
                        {
                            <option value="@item.id">@item.name @item.lastname (@item.city - @item.town)</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <small> (Eğer müşteri bulunamadı ise lütfen yeni müşteri olarak kaydet seçeneğini kullanın.)</small><br /><br />
                    <label> <input type="checkbox" class="i-checks new-customer-check"> Yeni Müşteri Olarak Kaydet</label>

                </div>
                <div class="form-group">
                    <label for="name">Ad</label>
                    <input autocomplete="off" type="text" placeholder="Ad" name="name" id="name" value="@ViewBag.name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lastname">Soyad</label>
                    <input autocomplete="off" type="text" placeholder="Soyad" name="last_name" id="last_name" value="@ViewBag.lastname" class="form-control">
                </div>
                <div class="form-group">
                    <label for="address">Adres</label>
                    <textarea autocomplete="off" required type="text" cols="3" rows="3" placeholder="Adres" name="address" id="address" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <select required name="city" id="city" class="city inline form-control">
                        <option></option>
                        @foreach (var item in ViewBag.cities)
                        {
                            <option value="@item.id">@item.city_name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <select required name="town" id="town" class="town inline form-control">
                        <option></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="phone">Tel</label>
                    <input autocomplete="off" type="text" required data-mask="9999 999 99 99" value="@ViewBag.task_phone" placeholder="Tel" name="phone" id="phone" class="form-control">

                </div>
                <button class="btn save-btn  btn-primary no-margins" type="submit">Tamam</button>
            </form>
        </div>





    </div>
</div>

@section Styles{
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}
@section Scripts{
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/iCheck")

    <script type="text/javascript">

  

        $(".save-btn").on("click", (e) => {
            if (!$(".customer_id").val() && !$(".new-customer-check").prop("checked")) {
                toastr.error("Müşteri kaydını seçmelisiniz.", "Hata")
                e.preventDefault();
            }
           
        })

        function AddSuccess() {
            toastr.success("Müşteri eklendi.", "Tamam");
            $("input[type='text']").val("")
            $("textarea").val("");
            $('.city').append(null).trigger('change');
            $('.town option').remove();
            $('.town').append(null).trigger('change');
        }
        function AddFailed() {
            toastr.error("Numara kullanılıyor veya bir hata oluştu tekrar deneyin.", "Hata")
        }

        function OnAdding() {
            $('.ibox-content').toggleClass('sk-loading');
        }

        function OnAddComplate() {
            $('.ibox-content').toggleClass('sk-loading');
        }

        if (location.search.indexOf("success=failed") > -1) {
            toastr.error("Sipariş bilgisi eksik veya müşteri telefon numarası zaten kayıtlı.", "Hata")
        }
        if (location.search.indexOf("success=ok") > -1) {
            toastr.success("Kayıt güncellendi.", "Tamam")
        }

        $(".customer_id").select2({
            placeholder: "Müşteri seçin",
            allowClear: true
        });


        $(".city").select2({
            placeholder: "Şehir",
            allowClear: true
        });

        $(".town").select2({
            placeholder: "İlçe",
            allowClear: true
        });

        $("#city").on("change", function (e, d) {
            var city_id = $(e.target).val();
            get_towns(city_id, d)
        })

        $("#town").on("change", function (e, d) {
            if (d) {
                setTimeout(() => { $("#town").val(d.town_id); }, 2000)
            }
        })

        function get_towns(city_id, town = null) {
            $('.town').append(null).trigger('change');
            $(".town option").remove();
            if (!city_id) return
            $.ajax({
                type: "POST",
                url: "/Customer/Town?id=" + city_id,
                beforeSend: function () {
                    OnAdding();
                },
                success: function (r) {
                    OnAddComplate();
                    if (r) {
                        r.forEach(s => {
                            $(".town").append("<option value='" + s.id + "'>" + s.town_name + "</option>");
                        })
                        $('.town').append(null).trigger('change');
                        if (town) $('.town').val(town.town_id).trigger("change");
                    }

                }
            });
        }

        $(".customer_id").on("change", function (e) {
            var customer_id = $(e.target).val();
            get_customer(customer_id)
        })


        function get_customer(customer_id) {
            
            if (!customer_id) return
            $.ajax({
                type: "POST",
                url: "/Customer/Customer?id=" + customer_id,
                data: {
                    id: customer_id
                },
                beforeSend: function () {
                    OnAdding();
                },
                success: function (r) {
                    OnAddComplate();
                    if (r) {
                        $("#name").val(r.name);
                        $("#last_name").val(r.lastname);
                        $("#address").val(r.address);
                        $("#phone").val(r.phone);
                        $("#city").val(r.city).trigger("change", { town_id: r.town });
                        $("#phone").val(r.phone);

                    }

                }
            });
        }

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $(".new-customer-check").on("ifChanged", (e) => {
            $(".customer_id").val(null);
            $(".customer_id_container").toggle();
        })

    </script>
}